@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    width: 90%;
    height: 100%;
    margin: 10px auto;
    border-radius: 10px;
}

#app-name {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    letter-spacing: 2px;
    margin-left: 10px;
}

.navbar {
    display: table;
    background-color: rgb(243, 243, 243);
    width: 100%;
    table-layout: fixed;
    justify-content: center;
    align-items: stretch; 
    border-collapse: collapse;
    text-decoration: inherit;
    color: inherit;
}

.nav-element {
    text-align: center;
    display: table-cell;
    align-items: center;
    border: 1px solid grey;
    padding: 10px;
    border-collapse: collapse;
}

.header {
    height: 60px;
    border-radius: 10px;
    padding: 40px 10px;
    display: flex;
    background-color: rgb(243, 243, 243);
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.travels-list {
    margin: 10px 5px 10px 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.travels-list h2 {
    padding-bottom: 20px;
}

.travels {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.travel {
    position: relative;
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
}

.travel-positions {
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
    padding-right: 3px; /* <-- This serves to not cut the italic text */
}

.travel-cost {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    font-size: 20px;
    color:rgb(233, 0, 0);
}

.travel-distance {
    margin: 10px 5px;
    font-size: 26px;
}

.remove-button {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    border: 1.5px solid rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    background-color: #ff3939;

}

.footer {
    padding: 10px;
    text-align: center;
    min-height: 100px;
}

.add-travel-button, .add-car-button {
    padding: 12px;
    width: 95%;
    margin: auto;
    margin-top: 16px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
}

#userAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
}

#addTravel, #addCar {
    width: 100%;
    padding: 10px;
}

.add-travel-form, .add-car-form {
    margin: auto;
    width: 95%;
}

.add-travel-form label, .add-car-form label{
    font-weight: bolder;
    font-size: 18px;
}

.add-travel-form  input, .add-travel-form  select, .add-car-form input{
    padding: 7px;
    width: 100%;
    font-size: 16px;
    margin: 5px 0 14px 0;
    border: 1px solid rgb(28, 28, 28);
    border-radius: 8px;
}

.add-travel-form  #formDistanceTravelled {
    width: 11%;
    min-width: 90px;
}

.add-travel-form  #formDate {
    width: 10%;
    min-width: 100px;
}

.add-travel-form  #formCarUsed {
    width: 18%;
    min-width: fit-content;
}

.submit-button {
    width: 100%;
    height: 44px;
    text-align: center;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 7px;
    background-color: #5cc3f7;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}

.cars-list {
    margin: 10px 5px 10px 5px;
    padding: 10px;
    min-height: 300px;
    margin-bottom: 20px;
}

.cars-list h2 {
    padding-bottom: 20px;
}

.cars {
    display: flex;
    flex-direction: column-reverse;
}

.car {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 150px;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.car-image {
    width: 120px;
    height: 120px;
    object-fit:contain;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    flex-basis: auto;
}

#carDivisor {
    border-left: solid 3px black;
    margin: 0 10px;
    flex-basis: auto;
    height: 100%;
}

.car-info {
    flex-basis: 100%;
    height: 100%;
}

.car-name {
    font-size: 20px;
    font-weight: bolder;
}

.car-ratio {
    margin-top: 10px;
    font-size: 22px;
}

.car-key {
    position: absolute;
    bottom: 10px;
    right: 12px;
    color: rgb(183, 183, 183);
    font-size: 14px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(41, 41, 41);
}