@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px gray solid;
    background-color: rgb(236, 236, 236);
    width: 900px;
    height: 100%;
    min-width: 150px;
    margin: 10px auto;
    border-radius: 10px;
    min-height: 300px;
}

#app-name {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    letter-spacing: 2px;
    margin-left: 10px;
}

.navbar {
    display: table;
    background-color: rgb(243, 243, 243);
    width: 100%;
    table-layout: fixed;
    justify-content: center;
    align-items: stretch; 
    border-collapse: collapse;
    text-decoration: inherit;
    color: inherit;
}

.nav-element {
    text-align: center;
    display: table-cell;
    align-items: center;
    border: 1px solid grey;
    cursor: pointer;
    padding: 10px;
    border-collapse: collapse;
}

.header {
    height: 60px;
    border-radius: 10px;
    padding: 40px 10px;
    display: flex;
    background-color: rgb(243, 243, 243);
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.travels-list {
    margin: 10px 5px 10px 5px;
    padding: 10px;
    min-height: 300px;
    margin-bottom: 20px;
}

.travels-list h2 {
    padding-bottom: 20px;
}

.travels {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.travel {
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
}

.travel-cost {
    padding: 5px;
    color:rgb(233, 0, 0);
}

.travel-distance {
    margin: 10px 5px;
    font-size: 22px;
}

.travel-positions {
    font-weight: normal;
}

.footer {
    padding: 10px;
    text-align: center;
    min-height: 100px;
}

#user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(65, 65, 65);
}