@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(236, 236, 236);
    width: 900px;
    height: 100%;
    min-width: 700px;
    margin: auto;
    min-height: 300px;
}

#app-name {
    font-size: 2em;
    font-weight:bolder;
    padding-left: 10px;
}

.header {
    height: 60px;
    padding: 10px;
    display: flex;
    background-color: rgb(243, 243, 243);
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.travels {
    margin: 10px 5px 10px 5px;
    padding: 10px;
    min-height: 300px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
   flex-direction: column-reverse;
}

.travel {
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(226, 226, 226);
}

.travel > h5 {
    font-weight: normal;
}

.footer {
    padding: 10px;
    text-align: center;
    min-height: 100px;
}

#user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(65, 65, 65);
}